In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Chandigarh.csv')
df.head()

,Unnamed: 0,transaction,balcony,bathroom,overlooking,ownership,super area,car parking,floor,carpet area,dimensions,society,status,facing,furnishing,price,BHK
0,0,New Property,,2,,,1149 sqft,1 Covered,5 out of 12 floors,,,GBP Athens,Possession by Jun '21,,Semi-Furnished,4880000,2 BHK Apartment
1,1,New Property,,3,,,1938 sqft,1 Covered,5 out of 12 floors,,,GBP Athens,Possession by Jun '21,,Semi-Furnished,9180000,3 BHK Apartment
2,2,New Property,,3,,,160 sqyrd,1 Covered,,,,Ananta Lifestyle,Possession by Mar '21,,Semi-Furnished,5500000,3 BHK Builder Floor
3,3,New Property,,3,,Freehold,1530 sqft,1 Covered,1 out of 18 floors,,,The Lake,Possession by Jul '21,,Unfurnished,6400000,3 BHK Apartment
4,4,New Property,,3,,,1705 sqft,,,,,Gateway Of Dreams,Possession by Jun '20,,Unfurnished,6290000,3 BHK Apartment

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 16 columns):
transaction    2520 non-null object
balcony        2520 non-null object
bathroom       2520 non-null object
overlooking    2520 non-null object
ownership      2520 non-null object
super area     2520 non-null object
car parking    2520 non-null object
floor          2520 non-null object
carpet area    2520 non-null object
dimensions     2520 non-null object
society        2520 non-null object
status         2520 non-null object
facing         2520 non-null object
furnishing     2520 non-null object
price          2520 non-null int64
BHK            2520 non-null object
dtypes: int64(1), object(15)
memory usage: 315.1+ KB

In [6]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
transaction,2520,2,New Property,1429,NaN,NaN,NaN,NaN,NaN,NaN,NaN
balcony,2520,8,2,826,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bathroom,2520,11,3,1278,NaN,NaN,NaN,NaN,NaN,NaN,NaN
overlooking,2520,13,,794,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ownership,2520,5,Freehold,1924,NaN,NaN,NaN,NaN,NaN,NaN,NaN
super area,2520,337,,1474,NaN,NaN,NaN,NaN,NaN,NaN,NaN
car parking,2520,35,,936,NaN,NaN,NaN,NaN,NaN,NaN,NaN
floor,2520,184,2 out of 3 floors,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
carpet area,2520,350,,1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dimensions,2520,40,,2446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
society,2520,98,,1072,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,2520,45,Ready to Move,1661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
facing,2520,9,East,845,NaN,NaN,NaN,NaN,NaN,NaN,NaN
furnishing,2520,4,Semi-Furnished,1877,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,2520,NaN,NaN,NaN,1.03319e+07,1.90582e+07,0,4.31e+06,5.8e+06,8e+06,3e+08
BHK,2520,36,3 BHK Apartment,1029,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.columns

Index(['transaction', 'balcony', 'bathroom', 'overlooking', 'ownership',
       'super area', 'car parking', 'floor', 'carpet area', 'dimensions',
       'society', 'status', 'facing', 'furnishing', 'price', 'BHK'],
      dtype='object')

# transaction

In [8]:
df['transaction'].value_counts()

New Property    1429
Resale          1091
Name: transaction, dtype: int64

In [9]:
df['transaction'] = df['transaction'].astype('category')
df['transaction'] = [x.replace(' ','_').lower() for x in df['transaction']]

# balcony

In [10]:
df['balcony'].value_counts()

2     826
3     715
      485
4     307
1     143
5      36
6       7
10      1
Name: balcony, dtype: int64

In [11]:
df['balcony'] = [int(i.replace(' ','0')) for i in df.balcony]

# bathroom

In [12]:
df['bathroom'].value_counts()

3       1278
2        752
4        235
1        136
5         71
6         27
          10
7          5
8          3
9          2
> 10       1
Name: bathroom, dtype: int64

In [13]:
df.BHK[[i == ' ' for i in df.bathroom]]

240                  House
420                  House
482              Apartment
601            8 BHK House
644        2 BHK Apartment
712    2 BHK Builder Floor
714                  House
716        1 BHK Apartment
717            3 BHK House
740          Builder Floor
Name: BHK, dtype: object

In [14]:
#df['bathroom'] = df['bathroom'].replace(' ',np.nan)

In [15]:
df['bathroom'] = [int(i.replace('> 10','10')) if i != ' ' else np.nan for i in df['bathroom']]

# overlooking

In [16]:
df['overlooking'].value_counts()

                                794
Garden/Park                     610
Garden/Park, Main Road          362
Main Road                       334
Garden/Park, Pool, Main Road    283
Pool, Garden/Park, Main Road     56
Garden/Park, Pool                32
Main Road, Garden/Park           13
Pool, Main Road                  12
Main Road, Garden/Park, Pool     11
Pool                              8
Pool, Garden/Park                 4
Main Road, Pool                   1
Name: overlooking, dtype: int64

In [17]:
df['overlooking'] = ['None' if i == ' ' else i.replace('/','_') for i in df.overlooking]

In [18]:
sum(df['overlooking'].isna())

0

In [19]:
pd.get_dummies(df['overlooking'])

,Garden_Park,"Garden_Park, Main Road","Garden_Park, Pool","Garden_Park, Pool, Main Road",Main Road,"Main Road, Garden_Park","Main Road, Garden_Park, Pool","Main Road, Pool",None,Pool,"Pool, Garden_Park","Pool, Garden_Park, Main Road","Pool, Main Road"
0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,0,0,0,0,0,0,0,0,1,0,0,0,0
2516,1,0,0,0,0,0,0,0,0,0,0,0,0
2517,0,0,0,0,0,0,1,0,0,0,0,0,0
2518,0,0,0,0,0,0,0,0,0,0,0,1,0
2519,0,0,0,1,0,0,0,0,0,0,0,0,0

In [20]:
df.overlooking[df.overlooking.notna()]

0                               None
1                               None
2                               None
3                               None
4                               None
                    ...
2515                            None
2516                     Garden_Park
2517    Main Road, Garden_Park, Pool
2518    Pool, Garden_Park, Main Road
2519    Garden_Park, Pool, Main Road
Name: overlooking, Length: 2520, dtype: object

In [21]:
var_overlooking = list(set(', '.join(list(df.overlooking[df.overlooking.notna()].unique())).split(', ')))
var_overlooking

['Main Road', 'Garden_Park', 'None', 'Pool']

In [22]:
for i in var_overlooking:
    df[str('overlooking_' + str(i))] = [0]*len(df['overlooking'])
    for x in range(len(df['overlooking'])):
        if i in df['overlooking'][x]:
            df[str('overlooking_' + str(i))][x] = 1

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [23]:
df.head()

,transaction,balcony,bathroom,overlooking,ownership,super area,car parking,floor,carpet area,dimensions,society,status,facing,furnishing,price,BHK,overlooking_Main Road,overlooking_Garden_Park,overlooking_None,overlooking_Pool
0,new_property,0,2.0,None,,1149 sqft,1 Covered,5 out of 12 floors,,,GBP Athens,Possession by Jun '21,,Semi-Furnished,4880000,2 BHK Apartment,0,0,1,0
1,new_property,0,3.0,None,,1938 sqft,1 Covered,5 out of 12 floors,,,GBP Athens,Possession by Jun '21,,Semi-Furnished,9180000,3 BHK Apartment,0,0,1,0
2,new_property,0,3.0,None,,160 sqyrd,1 Covered,,,,Ananta Lifestyle,Possession by Mar '21,,Semi-Furnished,5500000,3 BHK Builder Floor,0,0,1,0
3,new_property,0,3.0,None,Freehold,1530 sqft,1 Covered,1 out of 18 floors,,,The Lake,Possession by Jul '21,,Unfurnished,6400000,3 BHK Apartment,0,0,1,0
4,new_property,0,3.0,None,,1705 sqft,,,,,Gateway Of Dreams,Possession by Jun '20,,Unfurnished,6290000,3 BHK Apartment,0,0,1,0

In [24]:
df.drop('overlooking',inplace=True,axis=1)

# ownership

In [25]:
df.ownership.value_counts()

Freehold                1924
                         566
Leasehold                 21
Co-operative Society       5
Power Of Attorney          4
Name: ownership, dtype: int64

In [26]:
df['ownership'] = [np.nan if i == ' ' else i.replace(' ','_').replace('-','_') for i in df['ownership']]

In [27]:
df.ownership.unique()

array([nan, 'Freehold', 'Co_operative_Society', 'Leasehold',
       'Power_Of_Attorney'], dtype=object)

# super area and carpet area

Carpet area is the area enclosed within the walls of your flat. ... Super built-up area or saleable area is the total built-up area of your flat (explained above) plus your proportionate share of the common amenities in your building complex.It is also called the saleable area.

Area in Square Foot


One ground is commonly taken as 2400 square feet and approximately one half ground is used as a small and standard lot to construct a small individual house in small towns in India.

In [28]:
df['super area']

0       1149 sqft
1       1938 sqft
2       160 sqyrd
3       1530 sqft
4       1705 sqft
          ...
2515
2516
2517
2518
2519
Name: super area, Length: 2520, dtype: object

In [29]:
from z3 import *

In [30]:
df['super area'] = [eval(i.replace('\xa0aankadam','*72').replace('\xa0kanal','*5445').replace('\xa0sqm','*10.76').replace(' ','0').replace(',','').replace('\xa0sqyrd','*9').replace('\xa0sqft','*1').replace('\xa0marla','*272.251').replace('\xa0ground','*2400')) for i in df['super area']]

In [31]:
df['carpet area'] = [eval(i.replace('\xa0acre','*43560').replace('\xa0aankadam','*72').replace('\xa0kanal','*5445').replace('\xa0sqm','*10.76').replace(' ','0').replace(',','').replace('\xa0sqyrd','*9').replace('\xa0sqft','*1').replace('\xa0marla','*272.251').replace('\xa0ground','*2400')) for i in df['carpet area']]

In [32]:
df['Area_type'] = [0] * len(df['carpet area'])
for i in range(len(df['carpet area'])):
    if df['carpet area'][i] == 0:
        df['Area_type'][i] = 1

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Area Type

* 1 : Super Area

* 0 : Carpet Area

In [33]:
df['Area'] = df['super area']
for i in range(len(df['carpet area'])):
    if df['Area_type'][i] == 0:
        df['Area'][i] = df['carpet area'][i]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [34]:
sum(df['Area'].value_counts())

2520

In [35]:
df1 = pd.read_csv('Chandigarh.csv')
df1[df['Area'] == min(df['Area'])]

,Unnamed: 0,transaction,balcony,bathroom,overlooking,ownership,super area,car parking,floor,carpet area,dimensions,society,status,facing,furnishing,price,BHK
103,103,Resale,,3,,,,,Ground out of 3 floors,,,,Ready to Move,,Semi-Furnished,24000000,3 BHK Apartment
263,263,Resale,,2,,,,,Ground out of 1 floor,,,,Ready to Move,,Unfurnished,30000000,3 BHK House
601,601,Resale,4,,,Leasehold,,,2,,,,Ready to Move,North - East,,45000000,8 BHK House
714,714,Resale,,,,,,,,,,,,,,0,House
718,718,Resale,2,5,,,,,,,,,,,Unfurnished,0,5 BHK House
721,721,Resale,,2,,,,,Ground out of 2 floors,,,,,,Furnished,0,2 BHK House
722,722,Resale,1,2,,,,,2 out of 2 floors,,,,Ready to Move,,Unfurnished,0,2 BHK House
740,740,Resale,,,,,,,,,,,,,,0,Builder Floor

In [36]:
df.drop(['super area','carpet area'],axis=1,inplace=True)

# car parking

In [37]:
df['car parking'].value_counts()

                     936
1 Covered            815
1 Covered, 1 Open    329
1 Open               166
2 Covered             99
2 Open                43
2 Covered, 2 Open     27
1 Covered, 2 Open     22
3 Covered, 2 Open     14
3 Open                11
2 Covered, 1 Open     11
4 Covered, 2 Open      6
4 Open                 4
3 Covered              4
3 Covered, 1 Open      4
3 Covered, 3 Open      3
1 Covered, 3 Open      3
4 Covered, 4 Open      3
2 Covered, 3 Open      2
3 Covered, 4 Open      2
5 Covered, 2 Open      2
803 Covered            1
2 Covered, 5 Open      1
5 Covered, 4 Open      1
2 Covered, 4 Open      1
5 Open                 1
16 Covered             1
5 Covered, 3 Open      1
4 Covered              1
3 Covered, 5 Open      1
1 Covered, 4 Open      1
501 Covered            1
5 Covered              1
101 Covered            1
4 Covered, 3 Open      1
Name: car parking, dtype: int64

In [38]:
df['Covered_Parking'] = [None]*len(df['car parking'])
df['Open_Parking'] = [None]*len(df['car parking'])

for i in range(len(df['car parking'])):
    if df['car parking'][i] == ' ':
        df['Covered_Parking'][i] = 0
        df['Open_Parking'][i] = 0
    else:
        l = df['car parking'][i].split(', ')
        if len(l) == 2:
            df['Covered_Parking'][i] = int(l[0][0])
            df['Open_Parking'][i] = int(l[1][0])
        if len(l) == 1:
            if 'Covered' in l[0]:
                df['Covered_Parking'][i] = int(l[0][0])
                df['Open_Parking'][i] = 0
            if 'Open' in l[0]:
                df['Covered_Parking'][i] = 0
                df['Open_Parking'][i] = int(l[0][0])

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
df.Covered_Parking.value_counts()

1    1172
0    1161
2     141
3      28
4      11
5       6
8       1
Name: Covered_Parking, dtype: int64

In [40]:
df.Open_Parking.value_counts()

0    1860
1     510
2     114
3      21
4      12
5       3
Name: Open_Parking, dtype: int64

In [41]:
df['Total_parking'] = [(df.Covered_Parking[i] + df.Open_Parking[i]) for i in range(len(df.Covered_Parking))]

In [42]:
df['Total_parking'].value_counts()

1    983
0    936
2    471
3     48
4     39
5     20
6     10
7      6
8      6
9      1
Name: Total_parking, dtype: int64

In [43]:
df['parking'] = [1 if i != 0 else i for i in df.Total_parking]

In [44]:
df.drop('car parking', axis=1, inplace= True)

# floor

In [45]:
df.floor.value_counts()

2 out of 3 floors         223
1 out of 3 floors         180
                          179
Ground out of 3 floors    142
2 out of 4 floors         119
                         ...
3 out of 17 floors          1
2 out of 18 floors          1
2 out of 9 floors           1
4 out of 25 floors          1
3 out of 25 floors          1
Name: floor, Length: 184, dtype: int64

In [46]:
'out of 2 floors'[-8]

'2'

In [47]:
df.BHK[[i == '2' for i in df.floor]]

601    8 BHK House
Name: BHK, dtype: object

In [48]:
print(sum(['Apartment' in i for i in df.BHK[[i == ' ' for i in df.floor]]]))

16

In [49]:
df['floor_number'] = [None]*len(df['floor'])
df['total_floors'] = [None]*len(df['floor'])

for i in range(len(df.floor)):
    if df.floor[i] == ' ':
        df['floor_number'][i] = np.nan
        df['total_floors'][i] = np.nan
    elif df.floor[i] == '2':
        df['floor_number'][i] = '0'
        df['total_floors'][i] = '2'
    else:
        l = df['floor'][i].split(' ')
        if len(l) == 6:
            df['floor_number'][i] = ' '.join(l[0:2])
            df['total_floors'][i] = l[-2]
        if len(l) == 5:
            df['floor_number'][i] = l[0]
            df['total_floors'][i] = l[-2]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [50]:
df.drop('floor',axis=1,inplace=True)

# dimesions

In [51]:
df.dimensions.value_counts()

                          2446
25 X 10 yrd Sqyrd           11
20 X 50 yrd Sqyrd            9
50 X 10 yrd Sqyrd            5
15 X 6.67 yrd Sqyrd          4
25 X 20 yrd Sqyrd            4
30 X 16.67 yrd Sqyrd         4
30 X 66.67 yrd Sqyrd         2
20 X 12.5 yrd Sqyrd          2
15 X 33.33 yrd Sqyrd         2
90 X 50 ft Sqft              2
500 X 1 ft Sqft              1
45 X 12 ft Sqft              1
30 X 20.67 yrd Sqyrd         1
22 X 50 yrd Sqyrd            1
26 X 10 yrd Sqyrd            1
70 X 14 ft Sqft              1
20 X 45 ft Sqft              1
43 X 12 ft Sqft              1
22 X 48 ft Sqft              1
28 X 80 yrd Sqyrd            1
25 X 10.48 ft Sqft           1
40 X 28 ft Sqft              1
50 X 5 yrd Sqyrd             1
25 X 10 ft Sqft              1
45 X 20 ft Sqft              1
54.98 X 3.11 yrd Sqyrd       1
100 X 47 ft Sqft             1
15 X 11.27 ft Sqft           1
14.38 X 8 yrd Sqyrd          1
8.93 X 28 ft Sqft            1
50 X 5 ft Sqft               1
38 X 75 yrd Sqyrd            1
42 X 22 ft Sqft              1
50 X 13 ft Sqft              1
60 X 30 ft Sqft              1
25 X 20 ft Sqft              1
45 X 16 yrd Sqyrd            1
35.71 X 70 ft Sqft           1
95 X 50 ft Sqft              1
Name: dimensions, dtype: int64

In [52]:
df.drop('dimensions',axis=1,inplace=True)

# society

In [53]:
df.society.value_counts()

                          1072
Sushma Valencia            163
SAVITRY GREENS             144
Uptown Skylla               73
Sushma Grande               58
                          ...
Canum VIP Enclave            1
Chandigarh Royale City       1
Shivalik Heights             1
Marble Arch                  1
Garden Homes 2               1
Name: society, Length: 98, dtype: int64

In [54]:
df.society = ['NG' if i == ' ' else i.replace(' ','_').upper() for i in df.society]

In [55]:
#df.society = ['others' if i in list(df.society.value_counts().index[df.society.value_counts().values < 5]) else i for i in df.society]

In [56]:
df.society.value_counts()

NG                            1072
SUSHMA_VALENCIA                163
SAVITRY_GREENS                 144
UPTOWN_SKYLLA                   73
SUSHMA_GRANDE                   58
                              ...
WILLOW_HOMES                     1
KINGS_VALLEY                     1
SURYA_TOWER                      1
CHANDIGARH_ENCLAVE_PROJECT       1
PARAS_PANORAMA                   1
Name: society, Length: 98, dtype: int64

# status

In [57]:
df.status.value_counts()

Ready to Move            1661
Possession by Dec '20     141
Possession by Dec '21      79
Possession by Aug '20      60
                           58
Possession by Sep '20      54
Possession by Dec '22      51
Possession by Mar '21      43
Possession by Jun '21      42
Possession by Jan '21      34
Possession by Apr '21      27
Possession by Jul '21      26
Possession by May '21      24
Possession by Jul '20      23
Possession by Nov '20      22
Possession by Oct '20      21
Possession by Sep '21      17
Possession by Mar '22      16
Possession by Feb '22      14
Possession by Dec '23      11
Possession by Apr '22      10
Possession by May '22       9
Possession by Jun '22       8
Possession by Oct '22       8
Possession by Feb '21       7
Possession by Jun '20       6
Possession by Sep '22       6
Possession by Jan '22       5
Possession by May '23       5
Possession by Oct '21       5
Possession by Aug '23       4
Possession by Jul '22       4
Possession by Apr '23       3
Possession by Aug '21       2
Possession by Feb '23       2
Possession by Mar '23       2
Possession by Nov '21       2
Possession by Oct '23       1
Possession by Mar '24       1
Possession by Nov '22       1
Possession by Jun '23       1
Possession by Jan '23       1
Possession by Aug '22       1
Possession by Jul '23       1
Possession by Sep '24       1
Name: status, dtype: int64

In [58]:
df.status = [np.nan if i == ' ' else 'Ready_to_Move' if i == 'Ready to Move' else 'Possession' for i in df.status]

In [59]:
sum(df.status.isna())

58

# facing

In [60]:
df.facing.value_counts()

East            845
                644
North - East    624
North           153
North - West     91
South - East     79
South -West      59
West             14
South            11
Name: facing, dtype: int64

In [61]:
df.facing = [np.nan if i == ' ' else i.replace(' ','').replace('-','_') for i in df.facing]

# furnishing

In [62]:
df.furnishing.value_counts()

Semi-Furnished    1877
Unfurnished        462
Furnished          173
                     8
Name: furnishing, dtype: int64

In [63]:
df.furnishing = [np.nan if i == ' ' else i.replace(' ','').replace('-','_') for i in df.furnishing]

# BHK

In [64]:
df.BHK.value_counts()

3 BHK Apartment        1029
3 BHK Builder Floor     380
2 BHK Apartment         342
4 BHK Apartment         120
2 BHK Builder Floor     102
3 BHK House              80
4 BHK House              69
4 BHK Builder Floor      46
1 BHK Apartment          44
2 BHK House              44
5 BHK House              37
3 BHK Villa              29
6 BHK House              28
4 BHK Villa              27
1 BHK Builder Floor      23
6 BHK Villa              17
Studio Apartment         17
5 BHK Apartment          12
5 BHK Villa              12
7 BHK House               9
3 BHK Penthouse           9
1 BHK House               7
4 BHK Penthouse           7
2 BHK Villa               6
5 BHK Builder Floor       3
House                     3
7 BHK Villa               3
> 10 BHK House            3
5 BHK Penthouse           3
8 BHK House               2
6 BHK Builder Floor       2
10 BHK House              1
2 BHK Penthouse           1
9 BHK Villa               1
Builder Floor             1
Apartment                 1
Name: BHK, dtype: int64

In [65]:
building_type = ['Apartment','House','Builder Floor','Penthouse','Villa','Studio Apartment']

In [66]:
df['building_type'] = [None]*len(df.BHK)

for i in building_type:
    for x in range(len(df.BHK)):
        if i in df.BHK[x]:
            df['building_type'][x] = i

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [67]:
print(df['building_type'].value_counts())

print(sum(df['building_type'].value_counts()))

Apartment           1548
Builder Floor        557
House                283
Villa                 95
Penthouse             20
Studio Apartment      17
Name: building_type, dtype: int64
2520

In [68]:
df['Bhk_count'] = [np.nan]*len(df.BHK)

for i in range(1,11,1):
    for x in range(len(df.BHK)):
        if str(i) in df.BHK[x]:
            df['Bhk_count'][x] = i
        if 'Studio Apartment' in df.BHK[x]:
            df['Bhk_count'][x] = 0

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
sum(df['Bhk_count'].isna())

5

In [70]:
df.drop('BHK',axis=1,inplace=True)

# Pandas Profile Report

In [70]:
import pandas_profiling as pp

In [71]:
#pp.ProfileReport(df)

# Missing data Treatment

In [70]:
for cols in df.columns:
    print(cols,' : ',sum(df[cols].isna()))

transaction  :  0
balcony  :  0
bathroom  :  10
ownership  :  566
society  :  0
status  :  58
facing  :  644
furnishing  :  8
price  :  0
overlooking_None  :  0
overlooking_Main Road  :  0
overlooking_Pool  :  0
overlooking_Garden_Park  :  0
Area_type  :  0
Area  :  0
Covered_Parking  :  0
Open_Parking  :  0
Total_parking  :  0
parking  :  0
floor_number  :  179
total_floors  :  179
building_type  :  0
Bhk_count  :  5

#ownership  
df = pd.concat([df,pd.get_dummies(df['ownership'],prefix='ownership')],axis=1)
df.drop('ownership',axis=1,inplace=True)

#facing
df = pd.concat([df,pd.get_dummies(df['facing'],prefix='facing')],axis=1)
df.drop('facing',axis=1,inplace=True)

#status 
df = pd.concat([df,pd.get_dummies(df['status'],prefix='status',drop_first=True)],axis=1,)
df.drop('status',axis=1,inplace=True)

In [71]:
#floor_number  

df.building_type[df['floor_number'].isna()].value_counts()

Villa            95
House            61
Apartment        16
Builder Floor     4
Penthouse         3
Name: building_type, dtype: int64

In [72]:
df.floor_number[df.building_type == 'House'].value_counts()

Ground            150
1                  29
2                  24
3                  13
4                   1
200                 1
0                   1
Lower Basement      1
Upper Basement      1
5                   1
Name: floor_number, dtype: int64

df = pd.concat([df,pd.get_dummies(df['floor_number'],prefix='floor_number',drop_first=True)],axis=1,)
df.drop('floor_number',axis=1,inplace=True)

In [73]:
#total_floors 
df.building_type[df['total_floors'].isna()].value_counts()

Villa            95
House            61
Apartment        16
Builder Floor     4
Penthouse         3
Name: building_type, dtype: int64

In [74]:
df.drop('total_floors',axis=1,inplace=True)

In [75]:
#bathroom  
df[['Bhk_count','building_type','furnishing']][df['bathroom'].isna()]

     Bhk_count  building_type      furnishing
240        NaN          House     Unfurnished
420        NaN          House  Semi_Furnished
482        NaN      Apartment             NaN
601        8.0          House             NaN
644        2.0      Apartment       Furnished
712        2.0  Builder Floor             NaN
714        NaN          House             NaN
716        1.0      Apartment             NaN
717        3.0          House             NaN
740        NaN  Builder Floor             NaN

In [76]:
df = df[~df['bathroom'].isna()]

In [77]:
#Bhk_count  

sum(df['Bhk_count'].isna())

0

In [78]:
#furnishing  

print(sum(df['furnishing'].isna()),'   ',sum(df1['furnishing'].isna()))

1     0

In [79]:
df = df[~df['furnishing'].isna()]

In [80]:
df.isna().sum()

transaction                  0
balcony                      0
bathroom                     0
ownership                  557
society                      0
status                      54
facing                     635
furnishing                   0
price                        0
overlooking_Main Road        0
overlooking_Garden_Park      0
overlooking_None             0
overlooking_Pool             0
Area_type                    0
Area                         0
Covered_Parking              0
Open_Parking                 0
Total_parking                0
parking                      0
floor_number               171
building_type                0
Bhk_count                    0
dtype: int64

In [81]:
df.columns = [x.lower() for x in df.columns]

In [82]:
df.to_csv('cleaned.csv',index=False)

In [83]:
df

,transaction,balcony,bathroom,ownership,society,status,facing,furnishing,price,overlooking_main road,...,overlooking_pool,area_type,area,covered_parking,open_parking,total_parking,parking,floor_number,building_type,bhk_count
0,new_property,0,2.0,NaN,GBP_ATHENS,Possession,NaN,Semi_Furnished,4880000,0,...,0,1,1149.0,1,0,1,1,5,Apartment,2.0
1,new_property,0,3.0,NaN,GBP_ATHENS,Possession,NaN,Semi_Furnished,9180000,0,...,0,1,1938.0,1,0,1,1,5,Apartment,3.0
2,new_property,0,3.0,NaN,ANANTA_LIFESTYLE,Possession,NaN,Semi_Furnished,5500000,0,...,0,1,1440.0,1,0,1,1,NaN,Builder Floor,3.0
3,new_property,0,3.0,Freehold,THE_LAKE,Possession,NaN,Unfurnished,6400000,0,...,0,1,1530.0,1,0,1,1,1,Apartment,3.0
4,new_property,0,3.0,NaN,GATEWAY_OF_DREAMS,Possession,NaN,Unfurnished,6290000,0,...,0,1,1705.0,0,0,0,0,NaN,Apartment,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,resale,4,5.0,NaN,SAVITRY_GREENS,Possession,NaN,Unfurnished,8400000,0,...,0,0,1800.0,0,0,0,0,6,Apartment,4.0
2516,new_property,4,3.0,Freehold,SUSHMA_VALENCIA,Possession,East,Semi_Furnished,5630000,0,...,0,0,1280.0,1,0,1,1,3,Apartment,3.0
2517,resale,4,5.0,Freehold,SAVITRY_GREENS,Possession,North_East,Semi_Furnished,7990000,1,...,1,0,2000.0,0,0,0,0,5,Apartment,4.0
2518,new_property,4,3.0,Freehold,UPTOWN_SKYLLA,Possession,East,Unfurnished,6130000,1,...,1,0,1340.0,1,0,1,1,5,Apartment,3.0
2519,resale,4,4.0,Freehold,MAYA_GARDEN_CITY,Ready_to_Move,North_East,Unfurnished,6300000,1,...,1,0,1800.0,0,0,0,0,4,Apartment,4.0